window.Bar {
    background-color: transparent;
}
.Firefox {
    background: transparent;
    box-shadow: none;
    text-shadow: none;
    box-shadow: none;
    border: none;
}   

.icons {
    text-shadow: none;
    box-shadow: none;
    border: 0px;
    outline: none;
    font-size: 12px;    
}

.code {
    background: transparent;
    border: none;
}

.clock {
    background: #030214;
    border: none;
    font-size: 12px;
  }