window.Bar {
    background-color: transparent;
}

.Firefox {
    background: transparent;
    box-shadow: none;
    text-shadow: none;
    box-shadow: none;
    border: none;
}

.icons {
    text-shadow: none;
    box-shadow: none;
    border: 0px;
    outline: none;
    font-size: 14px;
}

.code {
    background: transparent;
    border: none;
}

.clock {
    background: #030214;
    border: none;
    font-size: 12px;
}

.network {
    background: transparent;
    border: none;
    color: white;
}

.Menu {
    border: none;
}

.Networkscrollable {
    border: none;
    outline: none;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 12px;

    * {
        outline: none;
        border: none;
    }
}

.network_button {
    background: transparent;
    border: 1px;
    border-color: black;
}

.background_clickable {
    background: transparent;
    border: none;
    outline: none;
}

.closeNetwork {
    background: transparent;
}

.closeNetwork,
.closeNetwork * {
    outline: none;
    border: none;
}

.shutdown {
    background: transparent;
    border: none;
    outline: none;
    padding-top: 7px;
}